<!DOCTYPE html>
<app-menuprivado></app-menuprivado>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <div id="carrusel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" id="imagencarrusel">
          <img id="cafeteria" src="..//..//../assets/WhatsApp Image 2022-03-07 at 11.09.01 PM.png" class="d-block w-100" alt="...">
        </div>

      </div>
    </div>

  <div class="titulo">
  <h1><strong>  <font face="Arial">Crea Tu Pedido UTT</font></strong>  </h1> <br>
  <h4> <strong>Para ti que Quieres Ordenar Dentro de Nuestras <br> Instalaciones UTT </strong> </h4>
</div>
<hr>

  <div class="cards">
       <div class="card" style="width: 18rem;">
        <div class="card-body">
           <h5 class="card-title">Registrarme</h5>
              <p class="card-text">Para poder ordenar necesitas Registrarte</p>
      <a href="/registro" class="btn btn-primary">Registrarme</a>
    </div>
  </div>

  <div class="card" style="width: 17rem;" id="card1">
    <div class="card-body">
       <h5 class="card-title">Iniciar Sesion</h5>
          <p class="card-text">Iniciar Sesion Para ordenar en UTT</p>
  <a href="/login" class="btn btn-primary">Iniciar Sesion</a>
</div>
</div>

  </div>



    <script src="" async defer></script>
  </body>
</html>
