<div class="container" >
  <form [formGroup]="FormularioRegistro" >
    <div>

        <label  class="form-label" >Papa</label>
        <input type="text" class="form-control"  formControlName="Nombre_Papa" [(ngModel)]="papa.nom_papa" >
        </div><br>
            <button (click)="crearPapa()" (click)="showModal()" class="btn btn-primary">Guardar</button>
            <a  class="btn btn-danger" routerLink="/administrador">Cancelar</a>
    </form>
    <h1>Papas</h1>
    <div class="containerproductos mb-3">
      <table class="table table-striped table-hover border abajoArriba">
          <thead>
            <tr>
              <th scope="col">Papas en stock</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let papa of papas">
              <td>{{papa.nom_papa}}</td>
            </tr>
          </tbody>
        </table>
      </div>
