<div class="container" >
  <form [formGroup]="FormularioRegistro" >
    <div>

        <label  class="form-label" >Dulce</label>
        <input type="text" class="form-control"  formControlName="Nombre_Dulce" [(ngModel)]="dulce.nom_dulce" >
        </div><br>
            <button (click)="crearDulce()" (click)="showModal()" class="btn btn-primary">Guardar</button>
            <a  class="btn btn-danger" routerLink="/administrador">Cancelar</a>
    </form>
    <h2>Dulces</h2>
    <div class="containerproductos mb-3">
      <table class="table table-striped table-hover border abajoArriba">
          <thead>
            <tr>

              <th scope="col">Dulces en stock</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dulce of dulces">
              <td>{{dulce.nom_dulce}}</td>


            </tr>

          </tbody>
        </table>
      </div>
