<div class="card text-center cardcontenedor">
  <div class="card-header">
    Chat
  </div>
  <div class="card-body">
      <p class="enviado p-2">{{peticiones.comentarios}}</p>
  </div>
  <form [formGroup]="FormularioRegistro" class="card-footer text-muted input-group">
      <input type="text" class="form-control" formControlName="Mensaje" placeholder="ingrese su mensaje" [(ngModel)]="comentarios.comentarios" >
      <div class="input-group-append" (click)="mandarMensaje()">
      <span class="input-group-text" id="basic-addon2">
        <img src="https://cdn-icons-png.flaticon.com/512/786/786407.png"  class="imgEnviar" width="20px" alt="mandar mensaje">
      </span>
    </div>
  </form>
</div>
