<div class="container">
  <h1>Modificar Guisos</h1>
  <form action="">
    <label class="form-label" [(ngModel)]="guisos1.guiso">Guiso</label>
    <select class="form-select" >
      <option [value]="guiso.id_guiso" *ngFor="let guiso of guisos" value="">{{guiso.guiso}}</option>
    </select><br>
    <label for="">Disponibilidad</label>
    <select class="form-select" [(ngModel)]="guisos1.disponible" name="" id="">
      <option [value]="guiso.disponible" *ngFor="let guiso of guisos">{{guiso.disponible}}</option>
    </select>
    <p>1 disponible</p>
    <p>2 no disponible</p>
    <button (click)="modificarGuiso()" class="btn btn-success">Modificar</button>
  </form>
</div>
