<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       
        <div class="container" >
            <form [formGroup]="FormularioRegistro">
                <div class="mb-3">
                <div class="mb-3">
                    
                  <label for="Usuario"  class="form-label">Usuario</label>
                  <input type="text" class="form-control"  formControlName="Usuario"  [(ngModel)]="login.email" >
                  <label *ngIf="this.FormularioRegistro.get('Usuario')?.errors?.['email']">
                    (El mail no es válido)
                  </label>
                </div>
                

                    <label for="contra" class="form-label" >Password</label>
                    <input type="password" class="form-control"formControlName="contra"  [(ngModel)]="login.password">
                  </div>                

              </form>
              <button type="submit"  class="btn btn-primary">Registrarme</button>
              <a routerLink="/login" class="btn btn-danger"  (click)="iniciar()">Iniciar Sesion</a>
              <a routerLink="/login" class="btn btn-danger">obtener</a>

            

              
             


             
        </div>
        <script src="" async defer></script>
    </body>
</html>