<div class="container" >
    <form [formGroup]="FormularioRegistro" >
      <div>

          <label  class="form-label" >Nombre Producto</label>
          <input type="text" class="form-control"  formControlName="Producto" [(ngModel)]="productos.nom_producto" >

            <label  class="form-label" >Precio</label>
            <input type="text" class="form-control"formControlName="Precio" [(ngModel)]="productos.precio">

            <label  class="form-label">Cantidad</label>
            <input  type="text"  class="form-control" formControlName="Cantidad" [(ngModel)]="productos.cantidad">

           
          </div>
              <button (click)="crear()" (click)="showModal()" class="btn btn-primary">Guardar</button>
              <a  class="btn btn-danger">Cancelar</a>
      </form>
      <h3> Productos</h3>
    <hr>
    <div class="containerproductos mb-3">
      <table class="table table-dark  abajoArriba">
          <thead>
            <tr>
            
              <th scope="col">Nombre_Producto</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Postproducto of producto">
              <td>{{Postproducto.nom_producto}}</td>
              
            </tr>
           
          </tbody>
        </table>
      </div>

