<div class="container" >
    <form [formGroup]="FormularioRegistro" >
      <div>

          <label  class="form-label" >Nombre Producto</label>
          <input type="text" class="form-control"  formControlName="Producto" [(ngModel)]="productos.nom_producto" >

            <label  class="form-label" >Precio</label>
            <input type="text" class="form-control"formControlName="Precio" [(ngModel)]="productos.precio">
          
            <label  class="form-label">Cantidad</label>
            <input  type="text"  class="form-control" formControlName="Cantidad" [(ngModel)]="productos.cantidad">

            <label class="form-label">Categoria</label>
            <input  type="text"  class="form-control"  formControlName="Categoria" [(ngModel)]="productos.categoria">
          </div>
              <button (click)="crear()" class="btn btn-primary">Guardar</button>
              <a  class="btn btn-danger">Cancelar</a>
      </form>
      
      
