.containercategoria{
    width: 1000px;
    padding-left: 500px;
    margin-top: 60px;
}

.abajoArriba{
    -webkit-animation-name:fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 23s;
    animation-duration: 23s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}